<h1 style="font-size:3rem;color:blue;">Analisando Jogos NBA 2023</h1>

Coletando dados do banco de dados.

In [1]:
import mysql.connector as connection
import pandas as pd
import math

try:
    mydb = connection.connect(host="localhost", database = 'nbaonnumbers',user="sa", passwd="RomuloJalim70",use_pure=True)
    query = "select id_game as 'id', date, visitor.full_name as 'visitor', home.full_name as 'home', visit_score, home_score, visitor.division as 'visitor_division', home.division as 'home_division', visitor.conference as 'visitor_conference', home.conference as 'home_conference' from game inner join team visitor on visitor.id_team = game.id_visit_team inner join team home on home.id_team = game.id_home_team;"
    result_dataFrame = pd.read_sql(query, mydb)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

C:\Users\fabio\AppData\Local\Temp\ipykernel_17016\906594433.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_dataFrame = pd.read_sql(query, mydb)

Revendo dados de uma linha da tabela

In [2]:
print(result_dataFrame.iloc[0])

id                                      1
date                  2022-10-18 19:30:00
visitor                Philadelphia 76ers
home                       Boston Celtics
visit_score                           117
home_score                            126
visitor_division                 Atlantic
home_division                    Atlantic
visitor_conference     Eastern Conference
home_conference        Eastern Conference
Name: 0, dtype: object

Setando o vencedor dos jogos

In [3]:
teamwinner = []
for index, row in result_dataFrame.iterrows():
    if int(row['visit_score']) > int(row['home_score']):
        teamwinner.append("VISIT")
    elif int(row['visit_score']) < int(row['home_score']):
        teamwinner.append("HOME")
    else:
        teamwinner.append("NA")
result_dataFrame = result_dataFrame.assign(winner=teamwinner)

In [4]:
valuescounted = result_dataFrame['winner'].value_counts()
print('Percent home ' + str(100*(valuescounted['HOME']/(valuescounted['HOME']+valuescounted['VISIT']))))
print('Percent visit ' + str(100*(valuescounted['VISIT']/(valuescounted['HOME']+valuescounted['VISIT']))))

Percent home 58.44402277039848
Percent visit 41.555977229601524

Totals e diferenças de pontos

In [5]:
totals = []
pointsDiff = []
for index, row in result_dataFrame.iterrows():
    totals.append(int(row['visit_score']) + int(row['home_score']))
    pointsDiff.append(abs(int(row['visit_score']) - int(row['home_score'])))
    
result_dataFrame = result_dataFrame.assign(total_points=totals)
result_dataFrame = result_dataFrame.assign(diff_points=pointsDiff)

In [6]:
print("Describe total de pontos ")
result_dataFrame.query("visit_score != 0")['total_points'].describe()

Describe total de pontos

count    1054.000000
mean      229.009488
std        19.353705
min       169.000000
25%       216.000000
50%       229.000000
75%       241.000000
max       351.000000
Name: total_points, dtype: float64

In [7]:
print("Describe da diferença de pontos ")
result_dataFrame.query("visit_score != 0")['diff_points'].describe()

Describe da diferença de pontos

count    1054.000000
mean       10.908918
std         7.992236
min         1.000000
25%         5.000000
50%         9.000000
75%        15.000000
max        45.000000
Name: diff_points, dtype: float64

Construindo matrix de jogos e diferença de Vitórias x Derrotas para calcular ranking.

In [8]:
Only_played_games = result_dataFrame.query("visit_score != 0")

In [9]:
from resources.nba_statistics import nbaStatistics

Only_played_games = result_dataFrame.query("visit_score != 0")
d = {'name':['Boston Celtics', 'Brooklyn Nets', 'New York Knicks', 'Philadelphia 76ers', 'Toronto Raptors',
                        'Chicago Bulls', 'Cleveland Cavaliers', 'Detroit Pistons', 'Indiana Pacers', 'Milwaukee Bucks',
                        'Atlanta Hawks', 'Charlotte Hornets', 'Miami Heat', 'Orlando Magic', 'Washington Wizards',
                        'Denver Nuggets', 'Minnesota Timberwolves', 'Oklahoma City Thunder', 'Portland Trail Blazers', 'Utah Jazz',
                        'Golden State Warriors', 'LA Clippers', 'Los Angeles Lakers', 'Phoenix Suns', 'Sacramento Kings',
                        'Dallas Mavericks', 'Houston Rockets', 'Memphis Grizzlies', 'New Orleans Pelicans', 'San Antonio Spurs'], 
            'record':[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            'jogos':[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}      

df = pd.DataFrame(d)

for index, row in Only_played_games.iterrows():
    if row['winner'] == "HOME":
        df.loc[df.name == row['visitor'], 'record'] = df.loc[df.name == row['visitor'], 'record'] - 1
        df.loc[df.name == row['home'], 'record'] = df.loc[df.name == row['home'], 'record'] + 1
    elif row['winner'] == "VISIT":
        df.loc[df.name == row['home'], 'record'] = df.loc[df.name == row['home'], 'record'] - 1
        df.loc[df.name == row['visitor'], 'record'] = df.loc[df.name == row['visitor'], 'record'] + 1
    
    df.loc[df.name == row['home'], 'jogos'] = df.loc[df.name == row['home'], 'jogos'] + 1
    df.loc[df.name == row['visitor'], 'jogos'] = df.loc[df.name == row['visitor'], 'jogos'] + 1

In [10]:

from resources.nba_statistics import nbaStatistics
from sympy import symbols, Eq, solve

sol = nbaStatistics().nbaRank(df)
#print(df.loc[df.name == 'Atlanta Hawks', 'jogos'])

print(sol)

C:\Users\fabio\Documents\Projetos\NBAOnNumbers\resources\nba_statistics.py:48: SymPyDeprecationWarning:

Eq(expr) with a single argument with the right-hand side
defaulting to 0 is deprecated. Use Eq(expr, 0) instead.

See https://docs.sympy.org/latest/explanation/active-deprecations.html#deprecated-eq-expr
for details.

This has been deprecated since SymPy version 1.5. It
will be removed in a future version of SymPy.

  eq1 = Eq(float(df.loc[df.name == 'Boston Celtics', 'record']) + float((1/df.loc[df.name == 'Boston Celtics', 'jogos'])) *

{Boston_Celtics: 1928.37931034483, Brooklyn_Nets: 571.379310344828, New_York_Knicks: 792.379310344828, Philadelphia_76ers: 1736.37931034483, Toronto_Raptors: -128.620689655172, Chicago_Bulls: -333.620689655172, Cleveland_Cavaliers: 1252.37931034483, Detroit_Pistons: -2757.62068965517, Indiana_Pacers: -408.620689655172, Milwaukee_Bucks: 2111.37931034483, Atlanta_Hawks: 11.3793103448276, Charlotte_Hornets: -2004.62068965517, Miami_Heat: 366.379310344828, Orlando_Magic: -968.620689655172, Washington_Wizards: -408.620689655172, Denver_Nuggets: 1691.37931034483, Minnesota_Timberwolves: -59.6206896551724, Oklahoma_City_Thunder: -128.620689655172, Portland_Trail_Blazers: -548.620689655172, Utah_Jazz: -195.620689655172, Golden_State_Warriors: 82.3793103448276, LA_Clippers: 11.3793103448276, Los_Angeles_Lakers: -201.620689655172, Phoenix_Suns: 431.379310344828, Sacramento_Kings: 1046.37931034483, Dallas_Mavericks: 82.3793103448276, Houston_Rockets: -2368.62068965517, Memphis_Grizzlies: 1046.37931034483, New_Orleans_Pelicans: -268.620689655172, San_Antonio_Spurs: -2368.62068965517}

In [18]:
print(sol[Brooklyn_Nets])
#print(sol[Milwaukee_Bucks])
#rankingsdf = pd.DataFrame(sol)

NameError: name 'Boston_Celtics' is not defined